<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE INIT</title>
    <style>
        .box {
            width: 50%;
            height: 50%;
            background-color: rebeccapurple;
        }
    </style>
</head>
<body>
    <div id="app">
        {{greeting}}
        <!-- Two way data binding -->
        <!-- Events:
        v-on:click, v-on:keyup="value"
        Can be shortened as @click="value" -->
        <input @keyup.enter="greet" v-model="greeting">
        <div v-if="isVisible" class="box"></div>

        <div>
            <login-form/>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data: () => {
                return {
                    greeting: "Hello, world from Vue!",
                    isVisible: true
                }
            },
            methods: {
                greet () {
                    console.log(this.greeting);
                }
            }
        });
        app.component( 'login-form', {
            template: `
                <form @submit="handLoginFormSubmit">
                    <custom-form-input v-model="email" :label="emailLabel" :type="typeEmail"/>
                    <custom-form-input v-model="password" :label="passwordLabel" type="password"/>
                    <button>Login</button
                </form>
            `,
            data(){
                return{
                    testLoop: [
                    {
                        
                    }
                    ],
                    email:'',
                    password:'',
                    typeEmail: 'email',
                    typePassword: 'password',
                    emailLabel: 'Username',
                    passwordLabel: 'Password',
                }
            },
            methods: {
                handLoginFormSubmit (e){
                    e.preventDefault();
                    console.log(this.email, this.password);
                }
            },
            component: [
            'custom-form-input'
            ]
        });
        app.component('custom-form-input', {
            template: `
            <div class="form-group">
                <label>
                    {{label}}
                    <input type="text" v-model="inputValue"/>
                </label>
            </div>
            `,
            props: ['label', 'modelValue'],
            //data: ()=> {
            //    return {
            //        inputValue: ''
            //    }
            //},
            computed: {
                inputValue:{
                    get(){
                        return this.modelValue;
                    },
                    set(value){
                        this.$emit("update:modelValue", value);
                    },
                }
            },
            methods: {
                logInputValue: () => {
                    console.log (this.inputValue);
                }
            }
        })
        app.mount("#app");
    </script>
</body>
</html>